---
layout: default
title: Blog
seo:
  title: Every Little Thing
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

{% include preloader.html %}

<!------------------------ Image Banner  ------------------------>

{% include site-header.html %}

<!------------------------ Menu / Nav ------------------------>
<section class="relative">
    <div class="menu">
        <h1 class="rotate"> navigation </h1>
        <div class="bookmark">
            <svg class="mask banner-tail" viewBox="0 0 57.53 28.58">
                <polygon class="white" points="28.77 16 57.53 28.23 57.49 28.39 57.5 0 57.49 0.04 0 0 0.01 28.58 0 28.53 29 16 28.77 16"> </polygon>
            </svg>
        </div>
        <nav class="padded center">
            {% for link in site.archives %}
                <a href="{{link.url}}"> {{ link.category }} </a>
            {% endfor %}
        </nav>
    </div>
</section>

<!------------------------ Featured blog ------------------------>
<section class="padded padded-t-lg md-padded-t-xlg sm-padded-t-xlg">
    <div class="capped-width padded mint">
        <div class="padded-05 center margin-b-1">
            <h2 data-aos="flip-down"> Featured Posts </h2>
            <p> </p>
        </div>

        <div class="grid-middle padded">
            <div class="col-6_xs-12 bg-image padded" style="background-image:url('/images/dark-tunnel.jpg'); box-shadow: -20px -20px 15px 3px var(--dark); min-height: 35vh;"> </div>
            <div class="col-6_xs-12 padded xs-text-center">
                <span class="tag"> Poems </span>
                <h2 class="margin-t-1"> Light </h2>
                <p> </p>
                <a href="https://jessica-christie.com/posts/light" class="subtle-button"> Read More </a>
            </div>
        </div>

        <div class="grid-middle padded">
            <div class="col-6_xs-12 padded xs-padded-t-lg right xs-text-center">
                <span class="tag"> Poems </span>
                <h2 class="margin-t-1"> Mourn </h2>
                <p> Give me some time... </p>
                <a href="https://jessica-christie.com/posts/mourn" class="subtle-button"> Read More </a>
            </div>
            <div class="col-6_xs-12 bg-image padded" style="background-image:url('/images/mourn.jpg'); box-shadow: 20px 20px 15px 3px var(--dark); min-height: 35vh;"> </div>
        </div>
    </div>
</section>

<!---------------- Call to READ / Little Note ---------------->
<section class="grid padded padded-t-lg md-padded-t-xlg sm-padded-t-xlg xs-padded-t-lg">
    <div class="col-3-top right padded padded-r-1 padded-t-0 sm-padded-t xs-padded-t-lg xs-padded-l-0">
        <img class="tilde" src="images/tilde-left.png">
    </div>
        <div class="ctr col-6-middle xs-padded-lr">
            <h2 data-aos="fade-down"> a little <span> note </span> from me </h2>
            <h3 class="arrow"> ↓ </h3>
        </div>
    <div class="col-3-top padded padded-l-1 padded-t-0 sm-padded-t xs-padded-t-lg xs-padded-r-0">
        <img class="tilde" src="images/tilde-right.png">
    </div>

    <!-- Mailbox Icon -->
    <div class="col-5_md-4_sm-3"> </div>
    <div class="col-2_md-3_sm-4-middle mailbox-padding md-padded-r-1 md-padded-b sm-padded-l-3 xs-padded-b-0">
        <img src="/images/mailbox.png" class="mailbox">
    </div>
    <div class="col-5"> </div>

    <!-- Envelope -->
    <div class="mailbox-menu">
        <div class="xmark padded-lr-1">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <a href="/about.html" class="center" target="_blank">
            <img src="/images/blue-envelope.png">
            <img src="/images/blue-letter.png">
        </a>
    </div> 
</section>

{% include site-footer.html %}