---
layout: default
title: Homepage
seo:
  title: Every Little Thing
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Image Banner  ------------------------>

    {% include site-header.html %}

<!------------------------ Nav ------------------------>
<section>
    <div class="menu">
        <h1 class="rotate"> navigation </h1>
        <div class="bookmark">
            <svg class="mask banner-tail" viewBox="0 0 57.53 28.58">
                <polygon class="white" points="28.77 16 57.53 28.23 57.49 28.39 57.5 0 57.49 0.04 0 0 0.01 28.58 0 28.53 29 16 28.77 16"> </polygon>
            </svg>
        </div>
        <nav class="padded center">
            <a href="#"> poems </a>
            <a href="#"> stories </a>
            <a href="#"> 2cents </a>
        </nav>
    </div>
</section>

<!------------------------ Featured blog loop ------------------------>
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-12 padded-05 center margin-b-1">
        <h2> Featured Posts </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %}

            <div class="col-4 post-item padded-05">
                <div class="bg-image portrait" style="background-image:url( '{{ post.featured_image }}' );"></div>
                <div class="padded-t-1">
                    
                    {% for item in post.categories %}
                        <span class="tag"> {{item}} </span>
                    {% endfor %}

                    <h2 class="margin-t-1"> {{ post.title }} </h2>
                    <p> {{ post.description }} </p>
                    <a href="{{ post.url }}" class="subtle-button"> Read More </a>

                </div>
            </div>

        {% endfor %}

    </div>

</section>
