<div class="slider-quote">
    <p class="quote"> What's the use of <span class="curvy">physical beauty </span> but a candy to the eyes? <br> ― the inconsistency and fragility... <br> If the whole world was <span class="curvy">blind,</span> how many people could you <span class="curvy">impress?</span> </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> Do you <span class="curvy">mourn </span> for another hope you <span class="curvy">Lost?</span> </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> When your tears mean <span class="curvy">nothing</span> to them, why should you care about what they think of you?  </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> What do you think would happen if a <span class="curvy">hopeless Romantic </span> gave up on love?  </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> You know you're <span class="curvy">dead inside </span> when the only thing that's keeping you alive is the <span class="curvy">illusion </span> you create inside your mind...  </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> The <span class="curvy">world </span> has so much to offer... <br> All we need to do is <br> <span class="curvy">open our eyes </span> <br> and see all the beauty, and <br> <span class="curvy">open our heart </span> <br> to feel all the warmness. </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> 'Cause you make me <span class="curvy">smile...</span> <br> And I just wanna return the favor. </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> Just because someone doesn't <span class="curvy">shed a tear</span>, doesn't mean he/she isn't crying inside.. <br> Just because someone isn't lying on a hospital bed, doesn't mean he/she isn't dying inside... </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> Have you ever feel so <span class="curvy">bad </span> about yourself because at some point you just become the person you <span class="curvy">hate </span> the most? </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> If you can't even stand up for <span class="curvy">yourself, </span> how are you gonna stand up for your <span class="curvy">Loved ones?</span> </p>
    <p class="subtitle"> ― Jess </p>
</div>
<div class="slider-quote">
    <p class="quote"> Don't fall in love with people and their <span class="curvy">looks, </span> because looks are <span class="curvy">fragile, </span> and people change. Fall in love with their <span class="curvy">souls </span> because souls stay <span class="curvy">true </span> forever. </p>
    <p class="subtitle"> ― Jess </p>
</div>