<div class="sidebar-nav">
    <div class="huge"> </div>
    <a class="sidebar-button">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <i class="fa-solid fa-circle-chevron-right"></i>
    </a>
</div>

<!-- Add Reader View! -->
<nav class="sidebar-menu"> 
    <div>
        <span class="nav-title"> Reader View </span>
            <div class="dark-mode dm-style grid-middle">
                <p> Dark Mode </p>
                <div class="toggle-container">
                    <div class="toggle-ball"></div> 
                </div> 
            </div>

        <span class="nav-title"> Featured Posts </span>
        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:8 offset:1 %}
            <a href="{{post.url}}"> {{post.title}}</a>
        {% endfor %}

        <span class="nav-title"> Archive </span>
        {% for archive in site.archives limit:8 %}
            <a href="{{archive.url}}" class="tag"> {{archive.category}}</a>
        {% endfor %}

        <span class="nav-title"> Website </span>
            <a href="/index.html"> Home </a>
            <a href="/about.html"> About </a>
            <a href="/website-fun.html"> Fun </a>
            <a href="/website-pro.html"> Pro </a>

        <span class="nav-title"> Connect </span>
            <a class="social-nav" href="https://www.instagram.com/shadesofjess/" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
            <a class="social-nav" href="https://www.facebook.com/chiichobits/" target="_blank"> <i class="fa-brands fa-facebook-f"></i> </a>
            <a class="social-nav" href="https://line.me/ti/p/cBmccneG72" target="_blank"> <i class="fa-brands fa-line"></i> </a>
            <a class="social-nav" href="https://twitter.com/jc_chii" target="_blank"> <i class="fa-brands fa-twitter"></i> </a>

        <div class="empty hide-sm"> </div>
        <div class="sidebar-logo">
            <img src="/images/logo-jc-white.svg">
        </div>
    </div>
</nav>