<div class="sidebar-nav sbw">
    <div class="huge"> </div>
    <a class="sidebar-button sbw">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <i class="fa-solid fa-circle-chevron-right"></i>
    </a>
</div>

<!-- Add Reader View! -->
<nav class="sidebar-menu"> 
    <div>
        <span class="nav-title"> Recent Posts </span>
        {% for post in site.posts limit:8 %}
            <a href="{{post.url}}"> {{post.title}}</a>
        {% endfor %}

        <span class="nav-title"> Archive </span>
        {% for archive in site.archives limit:8 %}
            <a href="{{archive.url}}" class="tag"> {{archive.category}}</a>
        {% endfor %}

        <span class="nav-title"> Website </span>
        <a href="/index.html"> Home </a>
        <a href="/blog"> Blog </a>
        <a href="#"> About </a>
        <a href="#social"> Connect </a>
    </div>
</nav>