{% include logo.html %}

<header class="grid bg-image">
  <img class="col-12" src="/images/banner.png">
  
  <div class="col-7 right show-sm">
    <a class="hamburger-button"> &#9776; </a>
  </div>
</header>
  
  <div class="mobile-menu"> 
    <nav> 
      <a href="/blog"> Blog </a>
      <a href="/blog-archive"> Archives </a>
      <a href="/index.html"> Home </a>
      <a href="#social"> Connect </a>
    </nav>
  </div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 