<footer class="center bg-medium">
  <div class="bg-image footer-banner grid tall-50">
    <div class="padded-t padded-l padded-b-0 left col-6_md-12-bottom">
      <h3> Website by : </h3>
      <a href="#" class="footer-logo"> Jessica Christie </a>
    </div>
    <nav class="padded-t padded-r padded-b-0 right col-6_md-12-bottom">
      <h3> Find me on Social Media! </h3>
      <a href="#"> Link One </a>
      <a href="#"> Link Two </a>
      <a href="#"> Link Three </a>
      <a href="#"> Link Four </a>
    </nav>
    <div class="col-12-bottom padded-t margin-b-1 center"> 
      <p class="subtle"> Copyright 2021 </p>
    </div>
  </div>
</footer>