<footer class="center bg-medium">
  <div class="bg-image footer-banner grid tall-50">
    <nav class="padded padded-l-0 padded-b-0 col-6_md-12-bottom md-padded-r-0" id="social">
      <h3> Find me <br> <span> on Social Media </span> </h3>
      <a href="https://www.instagram.com/shadesofjess/" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
      <a href="https://www.facebook.com/chiichobits/" target="_blank"> <i class="fa-brands fa-facebook-f"></i> </a>
      <a href="https://line.me/ti/p/cBmccneG72" target="_blank"> <i class="fa-brands fa-line"></i> </a>
      <a href="https://twitter.com/jc_chii" target="_blank"> <i class="fa-brands fa-twitter"></i> </a>
    </nav>
    <div class="padded padded-r-0 padded-b-0 col-6_md-12-bottom md-padded-l-0">
      <h3> Website by : </h3>
      <a href="/index.html" class="footer-logo"> Jessica Christie </a>
    </div>
    <div class="col-12-bottom md-padded-t center"> 
      <p class="subtle"> Copyright 2021 </p>
    </div>
  </div>
</footer>