{% include logo.html %}

<!-- For space use &nbsp; -->

<header class="padded-t-7 lp-padded-t-0 padded-b-lg md-padded-t-lg xs-padded-t-xlg">
  <!-- <div id="particles-js"></div> -->
  <div class="tall-80 lp-tall-100 bg-rainbow grid-middle-center sm-tall-55 xs-tall-70">
    <h2 class="banner col-12_xs-8 center" data-aos="zoom-in"> every
        <span> “Little” </span>
        <span class="purple"> thing</span>
    </h2>
  </div>
  
  <div class="hamburger-button col-7 right show-sm">
    <i class="fa-solid fa-burger"></i>
    <i class="fa-solid fa-xmark"></i>
  </div>
</header>
  
<div class="mobile-menu">
  <nav>
    <a href="/index.html"> Home </a>
    <a href="/blog-archive"> Archives </a>
    <a href="/website.html"> Website Fun </a>
    <a href="/website2.html"> Website Pro </a>
  </nav>
  <img src="/images/logo-jc-white.svg" style="padding-left: 1rem;">
</div>