<footer class="padded-b-0 grid center bg-medium text-light">
    <div class="padded col-6_sm-12">
      <a href="#" class="footer-logo"> Website by Jessica Christie </a>
    </div>
    <nav class="padded col-6_sm-12 right">
      <h3> Find me on Social Media! </h3>
      <a href="#"> Link One </a>
      <a href="#"> Link Two </a>
      <a href="#"> Link Three </a>
      <a href="#"> Link Four </a>
    </nav> 
    <div class="col-12 padded-t center">
      <p class="subtle"> Copyright 2021 </p>
    </div>
  </footer>
  