<div class="social-share center margin-t padded-b">

    <h4 class="margin-b-05"> share the love </h4>

    <nav>
        <a href="https://facebook.com/sharer.php?u=jessica-christie.com{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=jessica-christie.com{{ page.url }}&via={{ site.data.site-settings.social.twitter_username }}&related={{ site.data.site-settings.social.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </nav>

</div>
