---
title: Just my 2cents
layout: default
description_html: 
category: 2cents
---

<!------------------------ Archive Blog Loop ------------------------>
<section class="padded">
    <div class="capped-width grid-center bg-image bg-books">

        {% include category-post-loop.html %}

    </div>
    <div class="attribute">
        <p> - Photo by <a href="https://unsplash.com/@eddrobertson?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ed Robertson</a> on <a href="https://unsplash.com/s/photos/books?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> </p>
    </div>
</section>

<!-- Quote Section -->
<section class="padded-lg sm-padded-1 sm-padded-t-lg grid">
    <div class="col-1-middle center padded-l-1 sm-padded-l-0">
        <span class="quote-icon" style="font-family: 'Libre Barcode 128 Text';">“</span>
    </div>
    <div class="col-10 center">
        <p class="quote"> If you keep on feeding your <span style="font-family: 'Windsong', cursive; font-size: 3rem;">Ego </span>, one day it'll going to be so big and it'll start feeding on you greedily, and you won't even notice until it's way too late, that you're left with nothing but <span style="font-family: 'Windsong', cursive; font-size: 3rem;">Regret... </span> </p>
        <p class="subtitle"> - Jess </p>
    </div>
    <div class="col-1-middle center padded-r-1 sm-padded-r-0">
        <span class="quote-icon" style="font-family: 'Libre Barcode 128 Text';">”</span>
    </div>
</section>


{% include site-footer.html %}