---
title: Poems for you
layout: default
description_html: 
category: poems
---

<!------------------------ Archive Blog Loop ------------------------>
<section class="padded">
    <div class="capped-width grid-center bg-image bg-white-rose">

        {% include category-post-loop.html %}

    </div>
    <div class="attribute">
        <p> - Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> </p>
    </div>
</section>

<!-- Quote Section -->
<section class="padded-lg sm-padded-1 sm-padded-t-lg grid">
    <div class="col-1-middle center padded-l-1 sm-padded-l-0">
        <span class="quote-icon" style="font-family: 'Libre Barcode 128 Text';">“</span>
    </div>
    <div class="col-10 center">
        <p class="quote"> It's amazing how a heart can carry so much <span style="font-family: 'Windsong', cursive; font-size: 3rem;">pain </span>, and still be able to <span style="font-family: 'Windsong', cursive; font-size: 3rem;">Love </span> at the same time... </p>
        <p class="subtitle"> - Jess </p>
    </div>
    <div class="col-1-middle center padded-r-1 sm-padded-r-0">
        <span class="quote-icon" style="font-family: 'Libre Barcode 128 Text';">”</span>
    </div>
</section>


{% include site-footer.html %}