---
title: Poems for you
layout: default
description_html: 
category: poems
---

<!------------------------ Archive Blog Loop ------------------------>
<section class="padded bg-image bg-white-rose">
    <div class="capped-width-wide grid-center dark-transparent opacity-9 padded-b">

        {% include category-post-loop.html %}

        <a href="/blog-archive.html" class="button more"> See More </a>

    </div>
</section>

<div class="attribute">
    <p> - Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> </p>
</div>

<!-- Quote Section -->
<section class="padded-lg sm-padded-1 sm-padded-t-lg grid">
    <div class="col-1-middle center padded-l-1 sm-padded-l-0" data-aos="fade-right">
        <span class="quote-icon" style="font-family: 'Emilys Candy';">“</span>
    </div>
    <div class="col-10 xs-padded-lr-5 center">
        <p class="quote"> It's amazing how a heart can carry so much <span class="curvy">pain </span>, and still be able to <span class="curvy">Love </span> at the same time... </p>
        <p class="subtitle"> ― Jess </p>
    </div>
    <div class="col-1-middle center padded-r-1 sm-padded-r-0" data-aos="fade-left">
        <span class="quote-icon" style="font-family: 'Emilys Candy';">”</span>
    </div>
</section>

{% include site-footer.html %}