---
title: Random Stories and Whatnot
layout: default
description_html: 
category: stories
---

<!------------------------ Archive Blog Loop ------------------------>
<section class="padded bg-image bg-writing">
    <div class="capped-width-wide grid-center dark-transparent opacity-9">

        {% include category-post-loop.html %}

    </div>
</section>

<div class="attribute">
    <p> - Photo by <a href="https://unsplash.com/@mrika?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mrika Selimi</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> </p>
</div>

<!-- Quote Section -->
<section class="padded-lg sm-padded-1 sm-padded-t-lg grid">
    <div class="col-1-middle center padded-l-1 sm-padded-l-0" data-aos="fade-right">
        <span class="quote-icon" style="font-family: 'Emilys Candy';">“</span>
    </div>
    <div class="col-10 xs-padded-lr-5 center">
        <p class="quote"> <span class="curvy">imagine... </span> <br> if all the things that you loved and cared for, were just fragments of the imaginations that you conjured, to make your life a little more bearable...  </p>
        <p class="subtitle"> ― Jess </p>
    </div>
    <div class="col-1-middle center padded-r-1 sm-padded-r-0" data-aos="fade-left">
        <span class="quote-icon" style="font-family: 'Emilys Candy';">”</span>
    </div>
</section>

{% include site-footer.html %}